<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tao Room</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <form id="createRoom">
            <h1>TAO ROOM</h1>
            <input name="name" id="txtName" type="text" placeholder="nhap ten Room">
            <input name="pass" id="txtPass" type="text" placeholder="nhap ma Room">
            <input id="btnAdd" type="submit" value="Add">
        </form>
    </div>
</body>
<script src="createRoom.js"></script>
</html>