<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang nhap</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
    <div class="wrapper">
        <form class="container" method="post" action="/rooms">
            <h2>Connect Peoples</h2>
            <% if (result.length > 0){ %>
                <input name="email" id="email" type="email" placeholder="Email" value="<%= result[1] %>">
                <input name="pass" id="password" type="password" placeholder="Password" value="<%= result[2] %>">
            <% } %>
            <% if (result.length == 0){ %>
                <input name="email" id="email" type="email" placeholder="Email" >
                <input name="pass" id="password" type="password" placeholder="Password">
            <% } %>
            <input id="login" type="submit" value="Login">
            <input id="singup" type="button" value="Singup?">
        </form>
    </div>
</body>
<script src="login.js"></script>
</html>